/.DS_Store
/Basic trainings
/Energy Indicators.xls
/NISPUF17.csv
/NN.py
/Numpy.ipynb
/Pytorch_test1.ipynb
/Random projects
/dataset
/datasets
/mnist.npz
/n.py
/nn_test.ipynb
/nn_testv1.ipynb
/pandas_test.py
/s&p_financials.csv
/s&p_hist_data.csv
/s&p_sectors.csv
/scratchpad.py
/sklearn1.ipynb
/sklearn2.ipynb